html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    user-select: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.go {
    margin-top: 1%;
    transition: all 0.3s ease;
}

.go:hover {
    opacity: 0.6;
    cursor: pointer;
}

.four {
    color: white;
    font-size: 14rem;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

.nf {
    color: white;
    font-size: 20px;
    opacity: 0.7;
    width: 22%;
    text-align: center;
}